@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

:root {
  --soiree: #142A33;
  --pumpkin-spice: #9A6133;
  --cafe: #CFC4A1;
  --oat: #F6F0E8;
  --ballet-slipper: #D4B2A3;
  --honey: #D3B788;
  --cocoa: #816D60;

}


body {
     display: flex;
     margin-top: 50px;
     justify-content: center;
     background-color: #142A33;
     color: #F6F0E8;
      font-family: 'Poppins', sans-serif;
   }
   button {
     width: 75px;
     cursor: pointer;
     border: none;
     outline: none;
     padding: 5px;
     border-radius: 5px;
     color: white;
   }
   
   #header {
     padding: 30px 0;
     color: #F6F0E8;
     font-size: 38px;
     display: flex;
     justify-content: space-between;
   }

   #header button {
    width: 150px;
    padding: 10px;
    background-color: #182A33;
    border: 2px solid #F6F0E8;
   }
   
   #header button:hover {
    width: 150px;
    padding: 10px;
    background-color: #F6F0E8;
    border: 2px solid #182A33;
    color: #182A33;
   }

   #container {
     width: 1120px;
   }
   #weekdays {
     width: 100%;
     display: flex;
   }
   #weekdays div {
     width: 150px;
     padding: 10px;
     background-color: #142A33;
     color: #F6F0E8;
     font-size: 25px;
   }
   
   #calendar {
     width: 100%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
   }
   .day {
     width: 150px;
     padding: 10px;
     height: 100px;
     cursor: pointer;
     box-sizing: border-box;
     background-color: #182A33;
     margin: 5px;
     box-shadow: 0px 0px 2px #9A6133;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }
   .day:hover {
     background-color: #9A6133;
   }
   
   .day + #currentDay {
     background-color:#D4B2A3;
   }
   .event {
    text-align: center;
     font-size: 15px;
     padding: 3px;
     background-color: white;
     color: black;
     max-height: 55px;
     overflow: hidden;
   }
   .padding {
     cursor: default !important;
     background-color: #182A33 !important;
     box-shadow: none !important;
   }
   #newEventModal, #deleteEventModal {
     display: none;
     z-index: 20;
     padding: 25px;
     background-color: #e8f4fa;
     box-shadow: 0px 0px 3px black;
     border-radius: 5px;
     width: 350px;
     top: 100px;
     left: calc(50% - 175px);
     position: absolute;
     font-family: sans-serif;
   }
   #eventTitleInput {
     padding: 10px;
     width: 100%;
     box-sizing: border-box;
     margin-bottom: 25px;
     border-radius: 3px;
     outline: none;
     border: none;
     box-shadow: 0px 0px 3px gray;

   }
   #eventTitleInput.error {
     border: 2px solid red;
   }
   #cancelButton, #deleteButton {
     background-color: #d36c6c;
   }
   #saveButton, #closeButton {
     background-color: #92a1d1;
   }
   #eventText {
     font-size: 14px;
   }
   #modalBackDrop {
     display: none;
     top: 0px;
     left: 0px;
     z-index: 10;
     width: 200%;
     height: 200%;
     position: absolute;
     background-color: rgba(0,0,0,0.8);
   }

   #payday {
    background-color: rgb(67, 98, 67);
   }

   #bill {
    background-color: rgb(125, 62, 55);
   }
